<div class="container">
  <br />
  <h1>Relevé De Note</h1>
  <!-- Centrage avec CSS -->
  <div class="text-center">
    <button type="button" class="btn btn-danger" routerLink="/contact">Réclamer</button>
  </div>
  <br/>
  <table class="rwd-table">
    <thead>
      <tr>
        <th>Matière</th>
        <th>Examen</th>
        <th>CC</th>
        <th>TP</th>
        <th>Date d'examen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-th="Matière">SpringBoot</td>
        <td data-th="Examen">13</td>
        <td data-th="CC">15</td>
        <td data-th="TP">13</td>
        <td data-th="Date d'examen">12/11/2023</td>
      </tr>
      <tr>
        <td data-th="Matière">UML</td>
        <td data-th="Examen">12</td>
        <td data-th="CC">12</td>
        <td data-th="TP">14</td>
        <td data-th="Date d'examen">12/10/2023</td>
      </tr>
      <tr>
        <td data-th="Matière">Angular</td>
        <td data-th="Examen">15</td>
        <td data-th="CC">15</td>
        <td data-th="TP">16</td>
        <td data-th="Date d'examen">12/10/2023</td>
      </tr>
      <tr>
        <td data-th="Matière">Java</td>
        <td data-th="Examen">13</td>
        <td data-th="CC">15</td>
        <td data-th="TP">13</td>
        <td data-th="Date d'examen">06/11/2023</td>
      </tr>
      <tr>
        <td data-th="Matière">PHP</td>
        <td data-th="Examen">19</td>
        <td data-th="CC">14</td>
        <td data-th="TP">13</td>
        <td data-th="Date d'examen">13/12/2023</td>
      </tr>
      <tr>
        <td data-th="Matière">SQL</td>
        <td data-th="Examen">18</td>
        <td data-th="CC">14</td>
        <td data-th="TP">12</td>
        <td data-th="Date d'examen">13/12/2023</td>
      </tr>
      <tr>
        <td data-th="Matière">JavaScript</td>
        <td data-th="Examen">15.5</td>
        <td data-th="CC">14</td>
        <td data-th="TP">13</td>
        <td data-th="Date d'examen">14/02/2024</td>
      </tr>
      <tr>
        <td data-th="Matière">ReactJS</td>
        <td data-th="Examen">14</td>
        <td data-th="CC">13</td>
        <td data-th="TP">18</td>
        <td data-th="Date d'examen">04/01/2024</td>
      </tr>
      <tr>
        <td data-th="Matière">MongoDB</td>
        <td data-th="Examen">13</td>
        <td data-th="CC">12</td>
        <td data-th="TP">11</td>
        <td data-th="Date d'examen">31/12/2023</td>
      </tr>
      <tr>
        <td data-th="Matière">Docker</td>
        <td data-th="Examen">12</td>
        <td data-th="CC">13</td>
        <td data-th="TP">12</td>
        <td data-th="Date d'examen">01/12/2023</td>
      </tr>
    </tbody>
  </table>
</div>
