<!-- <div [@monAnimation]>Contenu animé</div>
<div [@monAnimation]>slm</div>
<div [@monAnimation]>alikom </div>
<div [@monAnimation]>Contenu animé</div>
<div [@monAnimation]>Contenu animé</div>
<div [@monAnimation]>Contenu animé</div>
<div [@monAnimation]>Contenu animé</div> -->



<!-- <div [@rolling]>Contenu roulant</div> -->

<!-- 
<div [@fadeInOut]>Contenu avec animation de fondu</div>
<div [@fadeInOut]>Contenu avec animation de fondu</div>
<div [@fadeInOut]>Contenu avec animation de fondu</div>
<div [@fadeInOut]>Contenu avec animation de fondu</div> -->

<!-- <div [@zoomInOut]>Contenu avec animation de zoom 
    <img src ="../assets/img/admin2.png">
    <p>alikom</p>
    <p>wnk </p>
    <p>labes</p>
    <p>hamdoulha</p>
</div> -->

<!-- <img src="../assets/img/kacem.jpg" width="50%" > -->





<!-- 
   <center> <img #photo [src]="photos[photoIndex]" [@fade] /></center> -->


<!--   
  <div>
    <button (click)="previousPhoto()">Précédent</button>
    <button (click)="nextPhoto()">Suivant</button>
  </div> -->




<!-- 
<img src="../assets/img/admin2.png" [@slideInOut] />
<img src="../assets/img/delete.png" [@slideInOut] />



<button (click)="previousPhoto()">Précédent</button>
<button (click)="nextPhoto()">Suivant</button> -->


<!-- 
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte d'identité de Loukil Adel</title>
</head>
<body>
    <div class="carte-identite">
        <div class="photo">
            <img src="../assets/img/admin.png"   width="20%"    right="20%"  >
            <ul *ngFor="let e of list_Ensei" class="gradient-list">
              <li style="display: flex; justify-content: space-between; align-items: center;">
          
                {{ e.Nom }} {{ e.Prenom }}  
                <h1>dlm</h1>
              </li>
            </ul>






        </div>
        <div class="informations">
         


            <ul *ngFor="let e of list_Ensei" class="gradient-list">
              <li style="display: flex; justify-content: space-between; align-items: center;">
          
                {{ e.Nom }} {{ e.Prenom }}  
                <h1>dlm</h1>
              </li>
            </ul>
        </div>
             <ul>
                <li>Numéro de carte : 123456789</li>
                <li>Date de naissance : 01/01/1980</li>
                <li>Lieu de naissance : Tunis, Tunisie</li>
                <li>Sexe : Masculin</li>
                <li>Date d'expiration : 31/12/2024</li>
            </ul> 
        </div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <img src="../assets/img/abou.jpg" width="30%" height="90%" style="padding-top: 10%; margin-left: 12%;"><br>

    <p>L'Institut Abou El Kacem Chebbi, situé à Mornege, Tunisie, est un établissement d'enseignement prestigieux dédié
      à l'éducation et à la promotion de la langue, de la culture et de la littérature arabes. Fondé en l'honneur du
      célèbre poète tunisien Abou El Kacem Chebbi, cet institut incarne l'héritage culturel et intellectuel de la
      région, tout en offrant un environnement académique dynamique et stimulant pour les étudiants.</p>
  </div>
</body>

</html>