<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
        
            <div class="columns">
                <div class="column is-half">
                    <form #f ="ngForm"action="" method="post" >
                     

                            <label class="label">Matiére</label>
                            <div class="control">
                                <input type="text" class="form-control" placeholder="Matiére">
                            </div>
                       
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                 DS
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                 Examen
                                </label>
                              </div>
                        <div class="field">
                            <label class="label">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                     
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="btn btn-success">Envoyer</button>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

